name: flutter_boilerplate
version: 0.0.1+1
publish_to: none
description: A new Sourcya Flutter project.
environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  playx: ^1.6.0
  playx_version_update: ^1.0.1
  dots_indicator: ^4.0.1
  pinput: ^6.0.1
  objectbox: ^5.1.0
  objectbox_flutter_libs: any
  path_provider: ^2.1.5
  path: ^1.9.1
  auth0_flutter: ^1.14.0
  dropdown_button2: ^2.3.9


dependency_overrides:
  playx_core: ^1.0.0-beta.6
  geolocator_linux:
    git:
      url: https://github.com/easyhour/flutter-geolocator.git
      path: geolocator_linux



dev_dependencies:
  build_runner: ^2.10.5
  flutter_test:
    sdk: flutter
  lint: ^2.8.0
  objectbox_generator: ^5.1.0
  package_rename: ^1.10.1
  flutter_launcher_icons: ^0.14.4
  flutter_project_name_changer: ^1.0.5


scripts:
  setup:
    $before: echo Setting up project...
    $script:
      flutter pub get &&
      dart run package_rename &&
      flutter pub run flutter_project_name_changer:main sourcya &&
      flutter pub run flutter_launcher_icons
      && dart run scripts/generate_keystore.dart
    $after: echo Project setup complete.


package_rename_config:
  android:
    app_name: Sourcya
    package_name: io.sourcya.app
  ios:
    app_name: Sourcya
    bundle_name: sonbol
    package_name: io.sourcya.app
  web:
    app_name: Sourcya
    description: Sourcya App.


flutter_launcher_icons:
  image_path_android: "assets/images/logo.png"
  image_path_ios: "assets/images/logo.png"
  android: "ic_launcher"
  ios: true
  min_sdk_android: 21
  remove_alpha_ios: true
  adaptive_icon_background: "#FFFFFF"  # only available for Android 8.0 devices and above
  adaptive_icon_foreground: "assets/images/logo.png" # only available for Android 8.0 devices and above
  adaptive_icon_monochrome: "assets/images/logo.png" # only available for Android 13 devices and above
  image_path_ios_dark_transparent: "assets/images/logo.png"
  image_path_ios_tinted_grayscale: "assets/images/logo.png"
  desaturate_tinted_to_grayscale_ios: true
  web:
    generate: true
    image_path: "assets/images/logo.png"
    background_color: "#FFFFFF"
    theme_color: "#FFFFFF"



flutter:
  uses-material-design: true
  fonts:
    - family: Poppins
      fonts:
        - asset: assets/fonts/poppins/Poppins-Black.ttf
          weight: 900
        - asset: assets/fonts/poppins/Poppins-ExtraBold.ttf
          weight: 800
        - asset: assets/fonts/poppins/Poppins-Bold.ttf
          weight: 700
        - asset: assets/fonts/poppins/Poppins-SemiBold.ttf
          weight: 600
        - asset: assets/fonts/poppins/Poppins-Medium.ttf
          weight: 500
        - asset: assets/fonts/poppins/Poppins-Regular.ttf
          weight: 400
        - asset: assets/fonts/poppins/Poppins-Light.ttf
          weight: 300
        - asset: assets/fonts/poppins/Poppins-ExtraLight.ttf
          weight: 200
        - asset: assets/fonts/poppins/Poppins-Thin.ttf
          weight: 100

    - family: Cairo
      fonts:
        - asset: assets/fonts/cairo/Cairo-Black.ttf
          weight: 900
        - asset: assets/fonts/cairo/Cairo-ExtraBold.ttf
          weight: 800
        - asset: assets/fonts/cairo/Cairo-Bold.ttf
          weight: 700
        - asset: assets/fonts/cairo/Cairo-SemiBold.ttf
          weight: 600
        - asset: assets/fonts/cairo/Cairo-Medium.ttf
          weight: 500
        - asset: assets/fonts/cairo/Cairo-Regular.ttf
          weight: 400
        - asset: assets/fonts/cairo/Cairo-Light.ttf
          weight: 300
        - asset: assets/fonts/cairo/Cairo-ExtraLight.ttf
          weight: 200

  assets:
    - assets/
    - assets/animation/
    - assets/images/
    - assets/translations/
    - assets/fonts/
    - assets/env/
    - assets/fonts/cairo/
    - assets/fonts/poppins/
    - assets/icons/