name: flutter_boilerplate
version: 0.0.1+1
publish_to: none
description: A new Sourcya Flutter project.
environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  auth0_flutter: ^1.14.0
  dots_indicator: ^4.0.1
  dropdown_button2: ^2.3.9
  flutter:
    sdk: flutter
  objectbox: ^5.1.0
  objectbox_flutter_libs: any
  path: ^1.9.1
  path_provider: ^2.1.5
  pinput: ^6.0.1
  playx: ^1.6.0
  playx_version_update: ^1.0.1

dependency_overrides:
  playx_core: ^1.0.0-beta.6
  geolocator_linux:
    git:
      url: https://github.com/easyhour/flutter-geolocator.git
      path: geolocator_linux

dev_dependencies:
  build_runner: ^2.10.5
  flutter_launcher_icons: ^0.14.4
  flutter_project_name_changer: ^1.0.5
  flutter_test:
    sdk: flutter
  lint: ^2.8.0
  objectbox_generator: ^5.1.0
  package_rename: ^1.10.1

# Scripts
# You can run these scripts using rps (Runtime Project Scripts).
# 1. To run a script: dart run rps <command_name> (e.g., dart run rps gen)
# 2. To list all scripts: dart run rps ls
scripts:
  setup:
    $before: echo Setting up project...
    $script: >-
      flutter pub get &&
      dart run package_rename --path="package_rename_config.yaml" &&
      flutter pub run flutter_project_name_changer:main sourcya &&
      flutter pub run flutter_launcher_icons
      && dart run scripts/generate_keystore.dart
    $after: echo Project setup complete.
  icons:
    $before: echo Generating launcher icons...
    $script: flutter pub run flutter_launcher_icons
    $after: echo Launcher icons generated.
  rename:
    $before: echo Renaming package...
    $script: dart run package_rename --path="package_rename_config.yaml"
    $after: echo Package renamed.
  gen:
    $before: echo Running build_runner...
    $script: dart run build_runner build --delete-conflicting-outputs
    $after: echo Code generation complete.
  watch:
    $before: echo Watching for changes...
    $script: dart run build_runner watch --delete-conflicting-outputs
  clean:
    $before: echo Cleaning project...
    $script: flutter clean
    $after: echo Project cleaned.


flutter:
  uses-material-design: true
  assets:
    - assets/
    - assets/animation/
    - assets/images/
    - assets/translations/
    - assets/fonts/
    - assets/env/
    - assets/fonts/cairo/
    - assets/fonts/poppins/
    - assets/icons/
  fonts:
    - family: Poppins
      fonts:
        - asset: assets/fonts/poppins/Poppins-Black.ttf
          weight: 900
        - asset: assets/fonts/poppins/Poppins-ExtraBold.ttf
          weight: 800
        - asset: assets/fonts/poppins/Poppins-Bold.ttf
          weight: 700
        - asset: assets/fonts/poppins/Poppins-SemiBold.ttf
          weight: 600
        - asset: assets/fonts/poppins/Poppins-Medium.ttf
          weight: 500
        - asset: assets/fonts/poppins/Poppins-Regular.ttf
          weight: 400
        - asset: assets/fonts/poppins/Poppins-Light.ttf
          weight: 300
        - asset: assets/fonts/poppins/Poppins-ExtraLight.ttf
          weight: 200
        - asset: assets/fonts/poppins/Poppins-Thin.ttf
          weight: 100
    - family: Cairo
      fonts:
        - asset: assets/fonts/cairo/Cairo-Black.ttf
          weight: 900
        - asset: assets/fonts/cairo/Cairo-ExtraBold.ttf
          weight: 800
        - asset: assets/fonts/cairo/Cairo-Bold.ttf
          weight: 700
        - asset: assets/fonts/cairo/Cairo-SemiBold.ttf
          weight: 600
        - asset: assets/fonts/cairo/Cairo-Medium.ttf
          weight: 500
        - asset: assets/fonts/cairo/Cairo-Regular.ttf
          weight: 400
        - asset: assets/fonts/cairo/Cairo-Light.ttf
          weight: 300
        - asset: assets/fonts/cairo/Cairo-ExtraLight.ttf
          weight: 200